<%= content_for :title, 'Vos messages' %>

<%= render 'dashboard/nav' %>

<h2>Vos messages</h2>

<ul class="list-unstyled">
<% @conversations.each do |conversation| %>
  <% user = conversation.other(current_user).first %>
  <li><%= link_to user, dashboard_conversation_path(user_slug: user.slug) %></li>
<% end %>
</ul>
