<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenue</h1>
    <p class="lead">Ce midi, c'est chez Mamie !</p>
  <p class="lead">
    <%= link_to "Je suis hôte", new_user_registration_path(host_sign_up: true), class: "btn btn-primary btn-lg" %>
    <%= link_to "Je suis convive", new_user_registration_path(host_sign_up: false), class: "btn btn-primary btn-lg" %>
  </p>
  </div>
</div>

test

Paupiette est à Paris, Bordeaux & Quimper !

Et peut-être bientôt dans votre ville.

Laissez-nous vos coordonnées pour être tenu au courant de l'ouverture dans votre région :


  Prénom

  Email

Paupiette en 3 étapes

Les formules de Paupiette

Paupiette en images