<%= content_for :title, t('menu.press') %>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <h1><%= t('menu.press') %></h1>
      <div class="row">
        <div class="col-md-6">
          <h2>Contact presse</h2>
          <p>Pour toute information presse, vous pouvez contacter Enora par téléphone au 06 76 19 25 76 ou par mail <a href="mailto:goulard.enora@gmail.com">goulard.enora@gmail.com</a>.</p>
        </div>
        <div class="col-md-6">
          <h2>Publications</h2>
          <p>La liste des publications est disponible et mise à jour <a href="https://docs.google.com/spreadsheets/d/1wQizGOXFyN4Zol8pZ_lHPtkx8wa1qTnHMMWBg8TWFOM/edit?usp=sharing" target="_blank">ici</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
