<%= content_for :title, t('menu.press') %>

<div class="container">
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <h1><%= t('menu.press') %></h1>
      <p>Pour toute information presse, vous pouvez contacter Enora par téléphone au 06 76 19 25 76 ou par mail <a href="mailto:goulard.enora@gmail.com">goulard.enora@gmail.com</a>.</p>
    </div>
  </div>
</div>
