<%= content_for :title, t('menu.who') %>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <h1><%= t('menu.who') %></h1>

      <div class="row mt-5">
        <div class="col-md-4">
          <%= image_tag 'photos/enora.jpg', class: 'img-fluid' %>
        </div>
        <div class="col-md-6 offset-md-1">
          <h2 class="mt-5">En quelques mots</h2>
          <p>Notre communauté Paupiette est ce que nous avons de plus cher. Nous plaçons la confiance au cœur de notre projet associatif.</p>
          <h3>La proximité</h3>
          <p>Pour faciliter l’organisation de ces repas intergénérationnels, Paupiette privilégie l’ancrage local du projet associatif. Ainsi, l’ambassadeur connaît les étudiants et les hôtes de son territoire. Il rencontre les membres de sa communauté et est garant du bon déroulement des repas.</p>
          <h3>La flexibilité</h3>
          <p>Parce que nos hôtes sont précieux, ils ont la liberté de choisir leur menu, le nombre de convives qu’ils souhaitent accueillir et de nous communiquer leurs préférences concernant ces derniers.
          <h3>Une communauté fondée sur des valeurs</h3>
          <p>Les membres de Paupiette s’unissent autour de valeurs communes : le partage, la transmission, la générosité et la bienveillance. Ces valeurs assurent le bon déroulé des repas et une sérénité aux membres de la communauté. En cas de non-conformité aux valeurs Paupiette, les membres font l’objet d’une modération qui permet de garantir la confiance, le respect et le bon déroulement des événements Paupiette</p>
          <h3>La confiance</h3>
          <p>Les profils des membres de la communauté sont vérifiés par l’équipe de modérateurs Paupiette. Le site offre la possibilité d’échanger avec les participants du repas grâce au système de messagerie. Le paiement se fait toujours en espèces à la fin du repas.</p>
          <h3>Une équipe à votre écoute</h3>
          <p>L’expérience Paupiette garantit à l’hôte et aux convives la disponibilité de l’équipe Paupiette. Nous sommes là pour vous aider dans la prise en main du site, dans l’organisation de vos repas ou pour répondre à toute autre question ! Si par ailleurs vous avez des conseils, n’hésitez pas à nous les faire parvenir...Nous nous ferons un plaisir d’échanger avec vous !</p>
          <h3>Un projet lancé en 2014</h3>
          <p>A l'initiative d'Enora Goulard.</p>
        </div>
      </div>

      <h2 class="mb-5 mt-5">Les 3 invariables de Paupiette</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Paupiette met en relation 2 cibles uniques</h3>
          <ul>
            <li>des étudiants (revenus faibles, peu de temps et de compétences pour cuisiner)</li>
            <li>des séniors (beaucoup de temps, vie sociale plus mince)</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Paupiette est non lucratif (c'est une association loi 1901)</h3>
          <ul>
            <li>les prix sont abordables (de 4 à 7€)</li>
            <li>les prix sont fixes et transparents</li>
            <li>il n'y a pas de commission</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Paupiette se concentre uniquement sur les déjeuners</h3>
          <ul>
            <li>un créneau plus facilement définissable</li>
            <li>un sentiment de sérénité et de sécurité plus prononcé</li>
          </ul>
        </div>
      </div>


      <div class="row mt-5">
        <div class="col-md-5">
          <h2 class="mb-3">Une invitation "comme à la&nbsp;maison"</h2>
          <h3>Raison d'être</h3>
          <p>Parce que nous pensons que le déjeuner est l'épicentre du lien social et la meilleure manière de faire connaissance</p>
          <h3>Proposition</h3>
          <p>... nous proposons une plateforme collaborative et non lucrative de mise en relation, pour encourager les repas intergénérationnels, sur la base d'un tarif fixe et accessible</p>
          <h3>Cible</h3>
          <p>... à tous ceux qui souhaitent faire de leur déjeuner un moment sympathique et de découverte autour d'une cuisine familiale.</p>
        </div>
        <div class="col-md-7">
          <%= image_tag 'photos/table.jpg', class: 'img-fluid' %>
        </div>
      </div>

      <h2 class="mb-5 mt-5">Plateforme de marque complète</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Raison d'être</h3>
          <p>Parce que nous pensons que le déjeuner est l'épicentre du lien social et la meilleure manière de faire connaissance</p>
        </div>
        <div class="col-md-4">
          <h3>Proposition</h3>
          <p>... nous proposons une plateforme collaborative et non lucrative de mise en relation, pour encourager les repas intergénérationnels, sur la base d'un tarif fixe et accessible</p>
        </div>
        <div class="col-md-4">
          <h3>Cible</h3>
          <p>... à tous ceux qui souhaitent faire de leur déjeuner un moment sympathique et de découverte autour d'une cuisine familiale.</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-arrow-down"></i>
          <h3>Valeurs</h3>
          <ul>
            <li>Ouverture</li>
            <li>Altruisme</li>
            <li>Plaisir</li>
          </ul>
        </div>
        <div class="col-md-4">
          <i class="fas fa-arrow-down"></i>
          <h3>Personnalité</h3>
          <ul>
            <li>Connivente</li>
            <li>Engagée</li>
            <li>Désintéressée</li>
          </ul>
        </div>
        <div class="col-md-4">
          <i class="fas fa-arrow-down"></i>
          <h3>Motivations</h3>
          <ul>
            <li>Lien social</li>
            <li>Proximité</li>
            <li>Simplicité</li>
          </p>
        </div>
      </div>
      <hr/>

      <h3 class="text-center mt-5">Promesse</h3>
      <p class="text-center lead mb-5">Une invitation "comme à la maison"</p>

      <hr/>
      <h3 class="text-center">
        <i class="fas fa-arrow-down"></i><br/>
        Principes d'expérience
      </h3>
      <div class="row">
        <div class="col-md-4">
          <h3>Sérénité</h3>
          <p>Nos hôtes sont libre de choisir le menu et les convives qu’ils souhaitent accueillir</p>
        </div>
        <div class="col-md-4">
          <h3>Plaisir</h3>
          <p>Nous aimons (bien) manger et faire du déjeuner un moment de rires et de saveurs</p>
        </div>
        <div class="col-md-4">
          <h3>Réciprocité</h3>
          <p>L'hôte et le convive se retrouvent sur un pied d'égalité dans ce moment de partage</p>
        </div>
      </div>

    </div>
  </div>
</div>