<% content_for :title, 'Villes' %>

<%= content_for :subtitle do %>
  <%= link_to 'Créer une ville', new_admin_city_path, class: 'btn btn-primary' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Nombre d'utilisateurs</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city, [:admin, city] %></td>
        <td><%= city.users.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>