<%= content_for :title, t('menu.ambassadors') %>

<h1><%= t('menu.ambassadors') %></h1>

<section class="ambassadors-section">
  <div class="row">
    <% @ambassadors.each do |ambassador| %>
      <%= render 'ambassador', ambassador: ambassador %>
    <% end %>
  </div>
  <% unless @ambassadors.empty? || @ambassadors.last_page? %>
    <p class="actions"><%= link_to "VOIR PLUS", ambassadors_path(page: @ambassadors.current_page+1), class: "btn btn-primary", id: "load-more-ambassadors", remote: true %></p>
  <% end %>
</section>