<%= content_for :title, t('menu.ambassadors') %>

<div class="container">
    <div class="user-city">
      <h1><%= t('menu.ambassadors') %></h1>
    </div>
</div>

<section class="users__list">
  <div class="container">
    <div class="title-user mt-5 row">
      <div class="hosts__details user-city col-md-12">
        <p>Vous avez une question, un problème pour naviguer sur le site ou d'autres souhaits d'information ?</p>
        <h2><span class="style-user">Contactez</span> nos ambassadeurs</h2>
        <hr>
      </div>
    </div>
    <div id="users" class="row">
      <%= render partial: 'users/user', collection: @users %>
    </div>
    <% unless @users.empty? || @users.last_page? %>
     <div class="see-more">
      <%= link_to 'Voir plus',
                  ambassadors_path(page: @users.current_page+1),
                  class: "btn btn-primary",
                  id: "load-more-users",
                  remote: true do %>
          Voir plus
        <i class="fas fa-angle-down"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</section>