<%= content_for :title, @city %>

<h1><%= @city %></h1>

<!--
<section class="open-meals-section">
  <h3>TODO : Repas ouverts</h3>
</section>
-->

<section class="hosts-section">
  <h3>Contactez un hôte</h3>
  <div class="row">
    <% @hosts.each do |host| %>
      <%= render 'advert', host: host %>
    <% end %>
  </div>
  <% unless @hosts.empty? || @hosts.last_page? %>
    <p class="actions"><%= link_to "VOIR PLUS", adverts_path(page: @hosts.current_page+1, city: @filter_city&.id), class: "btn btn-primary", id: "load-more-hosts", remote: true %></p>
  <% end %>
</section>