
// Colors
$color_greydark: rgba(37, 36, 36, 1)
$color_greylight: rgba(37, 36, 36, 0.7)

$color_redwine: #c53f6e
$color_blue: #76b8cf
$color_brownlight: #a6969b


// Font families
$font_lato: 'Lato', sans-serif


// Font weights
$light: 300
$regular: 400
$bold: 700



