// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

// Non Bootstrap variables
$color-main: #751E42
$color-grey: #ddd

// Bootstrap variables
$font-family-base: 'Barlow', sans-serif
$font-size-base: 1.1rem
$line-height-base: 1.8
$font-weight-normal: 300
$theme-colors: (primary: $color-main)
$jumbotron-bg: transparent

$breadcrumb-padding-x: 0
$breadcrumb-bg: transparent
