// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

// Non Bootstrap variables
$color-main: #c6a39e
$color-background: #f7f7f7

// Bootstrap variables
$font-family-base: 'Lato', sans-serif
$font-size-base: 1.1rem
$line-height-base: 1.8
$font-weight-normal: 300
$theme-colors: (primary: $color-main)
$jumbotron-bg: transparent

$border-radius: 0

$dropdown-border-radius: 0
$dropdown-border-width: 0

$nav-tabs-border-width: 0

$breadcrumb-padding-x: 0
$breadcrumb-bg: transparent
