<footer class="page-footer font-small">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">A propos</h5>
        <p><%= link_to 'Espace presse', press_path %></p>
        <p><%= link_to 'Qui sommes-nous', about_path %></p>
      </div>
      <div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">Mentions légales</h5>
        <p><%= link_to 'Conditions générales d\'utilisation', legals_path %></p>
        <p><%= link_to 'Confidentialité', privacy_path %></p>
      </div>

      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold">Suivez-nous</h5>
        <p>Facebook, Instagram</p>
        <h5 class="text-uppercase font-weight-bold">Nos partenaires</h5>
        <ul class="list-inline">
          <li class="list-inline-item">Logo partenaire</li>
          <li class="list-inline-item">Logo partenaire</li>
          <li class="list-inline-item">Logo partenaire</li>
          <li class="list-inline-item">Logo partenaire</li>
        </ul>
      </div>
    </div>
  </div>
</footer>