footer
  .partners
    border-top: 1px solid #eee
    padding: 40px 0
    img
      margin-bottom: 30px
    &-small
      padding: 0 25px
  .legal
    background: $color-main
    color: white
    padding: 40px 0
  h2
    font-size: 16px
    font-weight: bold
    margin-bottom: 10px
  li
    font-style: italic
    margin-bottom: 5px
  a
    color: white
  .fab
    font-size: 24px