body.pages.index
  background-image: url(../../assets/background-home-1.jpg)
  background-repeat: no-repeat
  .breadcrumb-div
    display: none

.hero
  .bienvenue
    margin-bottom: 140px
  h1
    color: #252525
    font-size: 2.875rem
    font-weight: 300
  .col-bouton
    padding: 7px 0 0 0
    .btn-hote


.how
  background: $color-main
  padding: 100px 0
  color: white
  h1
    