/** HOME CSS GLOBAL **/
body.pages.index
  background-image: asset-url('background-home-1.jpg')
  background-position: center fixed
  background-repeat: no-repeat
  background-size: cover
  -webkit-background-size: cover
  #breadcrumb
    display: none

/*** BLOC 1 HERO ***/
.hero
  margin-bottom: 145px
  .col-hello
    h1
      color: #828282
      margin: 0 0 90px 0
  .hero__image
    position: relative
    width: 120%

/*** BLOC 2 SOON ***/
.soon
  margin-top: 140px
  margin-bottom: 100px
  .col-form
    h2
      font-weight: 500
    .style-ville
      color: $color-main
      font-family: $font-title
      font-style: italic
      font-weight: 500
    p
      color: $color-main
      font-weight: 500
      margin: 80px 0 60px 0
    .form-home
      margin-left: 0  
      .new_preregistration
        .form-control
          color: #a9a9a9
          font-style: italic
          background-color: transparent
          border-top: 0
          border-left: 0
          border-right: 0
          border-bottom: 1px solid $color-main
        .form-control::placeholder
          color: #a9a9a9
        .btn-form
          border: 1px solid $color-main
          color: $color-main
          background-color: transparent
          font-weight: bold
          margin-top: 50px
          padding: 15px 50px
        .btn-form:hover
          border: 1px solid #a6969b
          color: #a6969b
/*****************/

/*** BLOC 3 HISTORY ***/
.history
  margin-bottom: -50px
  .text-history
    padding: 0 40px 0 0
    h2
      font-weight: 500
    .style-name
      color: $color-main
      font-family: $font-title
      font-weight: 500
      font-style: italic
    h3
      color: $color-main
      margin: 50px 0 30px 0
    p 
      color: #a9a9a9
      font-weight: 500
      margin-bottom: 40px
/*****************/

/*** BLOC 4 HOW ***/
.how
  background: $color-main
  padding: 130px 0
  color: white
  h2
    font-family: $font-title
    font-weight: 500
    padding-bottom: 112px
  .steps-illustration1
    margin: 0 60px
    vertical-align: bottom
  .steps-illustration2
    margin: 0 70px
    vertical-align: bottom
  .steps-illustration3
    margin: 0 60px
    vertical-align: bottom
  p
    font-size: 1.1em
    line-height: 1.4em
    font-weight: 500
    margin: 80px 20px 20px 20px
/*****************/

/*** BLOC 5 PRICING ***/
.pricing
  padding-bottom: 50px
  h2
    font-weight: 500
    padding: 140px 0 20px 0
  .style-name
    color: $color-main
    font-family: $font-title
    font-weight: 500
    font-style: italic
  .text-meal
    font-weight: 500
    color: #767575
    font-size: 1.2em
    line-height: 1.5em
    padding-bottom: 160px
  .meal-illustration1
    margin: 0 24px 20px 24px
  .meal-illustration2
    margin: 0 5px 30px 5px
  .meal-illustration3
    margin: 0 5px 26px 5px
  p
    font-size: 1.1em
    line-height: 1.4em
    font-weight: 500
    color: #767575


/*** CSS MOBILE HOMEPAGE ***/
@media screen and (max-width: 1599px)
    .how
      h2
      .steps-illustration1
        margin: 0 30px
      .steps-illustration2
        margin: 0 40px
      .steps-illustration3
        margin: 0 30px
    .pricing
      .meal-illustration1
        margin: 0 15px 20px 15px
      .meal-illustration2
        margin: 0 0 25px 0
      .meal-illustration3
        margin: 0 0 23px 0

@media screen and (max-width: 1392px)
    .soon
      margin-top: 130px
      .row
        .col-form
          p
            margin: 70px 0 40px 0
        .col-map
          padding-top: 30px


@media screen and (max-width: 1199px)
    .hero
      margin-bottom: 60px
    .how
      padding: 200px 0 150px 0

@media screen and (max-width: 1030px)
    .soon
      margin-top: 100px
      .row
        .col-form
          p
            margin: 50px 0 30px 0
        .col-map
          padding-top: 50px

@media screen and (max-width: 991px)
    .hero
      .col-hello
        h1
          margin: 0 0 20px 0
      .hero__image
        width: 110%
        margin-top: 40px
    .soon
      margin-top: 50px
      .row
        .col-form
          margin-left: 20px
          p
            margin: 40px 0 30px 0
        .col-map
          text-align: center
          margin: 0
          padding-top: 60px
    .history
      margin-bottom: 0
      .img-history
        text-align: center
        .img-hist
          margin-top: 80px
          position: static
          top: 0
      .text-history
        padding: 40px 40px 20px 40px
        h3
          margin: 20px 0 20px 0
        p 
          margin-bottom: 40px
    .how
      padding: 100px 0 20px 0
      h2
        padding-left: 20px
      .steps-illustration1
        margin: 0
      .steps-illustration2
        margin: 0
      .steps-illustration3
        margin: 0
      p
        margin: 40px 20px 120px 20px
    .pricing
      margin: 0 20px
      padding-bottom: 30px
      h2
        padding: 80px 0 20px 0 
      .text-meal
        padding-bottom: 100px
      .meal-illustration1
        margin: 0
      .meal-illustration2
        margin: 0
        padding-top: 100px
      .meal-illustration3
        margin: 0
        padding-top: 100px

@media screen and (max-width: 767px)
    .hero
      .hero__image
        width: 100%
    .history
      margin-left: 0px

@media screen and (max-width: 575px)
    .hero
      margin-bottom: 30px
      .container
        padding-right: 0
        .row
          margin-right: 0
          .col-hello
            h1
              font-size: 2em
          .btn-2
            margin: 20px 0 0 0
/************/
