/*** GLOBAL CSS ***/
body
  overflow-x: hidden

.gdpr__cookie_consent
  font-size: 0.9rem

a, a:hover, a:active, a:focus
  text-decoration: none

a.btn-default, input.btn-default
  border: 1px solid $color-main !important
  color: $color-main
  background-color: transparent !important
  font-weight: bold !important
  padding: 15px 50px
  font-size: 1em
  border-radius: 0
a.btn-default:hover, a.btn-default:active, a.btn-default:focus, input.btn-default:hover, input.btn-default:active, input.btn-default:focus
  border: 1px solid #a6969b !important
  color: #a6969b
  background-color: transparent !important

h1
  font-size: $h1-size-base
  font-family: $font-title
  line-height: 1.2em

h2
  font-size: $h2-size-base
  font-family: $font-title
  line-height: 1.1em

h3
  font-size: $h3-size-base
  line-height: 1.5em

h4
  font-family: $font-family-base
  font-style: italic
  color: $color-title-grey
  font-size: $p-size-base
  margin: 0

p
  font-size: $p-size-base
  line-height: 1.5em

.img-user
  border-radius: 100%

.img-user-2
  max-width: 100px
  
.img-user-3
  width: 60px
  margin: 0 25px 0 0

ul
  list-style-position: inside
  padding: 0

/**********/

/*** GLOBAL CSS MOBILE ***/
// @media screen and (max-width: 1499px)
//     h1
//       font-size: 2.4em
//     h2
//       font-size: 2.5em
//       line-height: 1em
//     h3
//       font-size: 1.2em
//       line-height: 1em
//     p
//       font-size: 1em
//       line-height: 1.2em

// @media screen and (max-width: 991px)
//     h1
//       font-size: 2.3em
//     h2
//       font-size: 2.4em
//     h3
//       font-size: 1.1em
//     p
//       font-size: 1em
//       line-height: 1.2em
/**********/

/*** CSS REGISTRATION ***/
.registration
  margin-bottom: 60px
  h2
    margin: 0 0 30px 0
  .btn-default
    margin: 30px 0 0 0
  .form-actions
    float: left
.login
  a
    color: #252424
    position: relative
    top: 45px
    left: 40px
.login-2
  a
    color: #252424
    position: relative
    top: 30px
    left: 40px

/** CSS HOSTS/AMBASSADORS PAGE **/
.users__list
  background: $color-background
  padding: 40px 0

.user-city
  text-align: center
  h1
    margin-bottom: 50px
  .style-user
    color: $color-font-title
  p
    color: $color-main
    font-size: 1.5em
    font-weight: 500
    margin: 0 0 30px 0
  .btn-city
    margin: 0 0 100px 0
    li
      a
        color: #d5cbce
        background-color: #fff
        border: 2px solid #d5cbce
        font-weight: bold
        font-size: 1.1em
        width: 150px
        border-radius: 25px
        moz-border-radius: 25px
        webkit-border-radius: 25px
      a:hover, a:active
        color: $color-main
        border: 2px solid $color-main

.title-user
  margin-top: 20px
  margin-bottom: 40px

.style-user
  color: $color-font-title

.style-name
  color: $color-font-title
  font-style: italic

.see-more
  margin: 20px 0
  text-align: center
  a
    background: none
    color: #d5cbce
    font-size: 1.5em
    font-weight: 500
    border: 0
  a:hover, a:active
    color: $color-main
    background: none
  .fas
    display: block
    color: #d5cbce
    font-size: 2em

.card-user
  .card
    padding: 50px
    border: 0
    .row
      .div-img-user
        padding: 0 10px 0 15px
      .name-user
        h2
          padding: 5px 0 0 0
          color: #252424
          font-size: 2.2em
          line-height: 1em
          font-family: $font-title
        p
          color: $color-main
          font-weight: 500
      .fa-user-circle
        position: absolute
        right: 0
        top: 0
        padding: 10px
        background-color: $color-main
        font-size: 1.5em
        color: #fff
    .card-body
      padding: 45px 0 0 0
      p
        color: #a1a0a0
        font-style: italic
        font-weight: 500
      .style-txt-user
        color: #252424
        font-style: normal
        font-weight: bold
      .desc-user
        p
          font-weight: 500
          line-height: 1.4em
          font-style: normal
          color: #252424
      .btn-user
        text-align: center
        margin: 40px 0 0 0
        a.btn-default:hover, a.btn-default:active, a.btn-default:focus
          border: 1px solid #a6969b
          color: #a6969b