/*** GLOBAL CSS ***/
.gdpr__cookie_consent
  font-size: 0.9rem

a.btn-default, input.btn-default
  border: 1px solid $color-main !important
  color: $color-main
  background-color: transparent !important
  font-weight: bold !important
  padding: 15px 50px
  font-size: 1em
  border-radius: 0
a.btn-default:hover, a.btn-default:active, a.btn-default:focus, input.btn-default:hover, input.btn-default:active, input.btn-default:focus
  border: 1px solid #a6969b !important
  color: #a6969b
  background-color: transparent !important

h1
  font-size: $h1-size-base
  font-family: $font-title
  line-height: 1.2em

h2
  font-size: $h2-size-base
  font-family: $font-title
  line-height: 1.1em

h3
  font-size: $h3-size-base
  line-height: 1.5em
h4
  font-family: $font-family-base
  font-style: italic
  color: $color-title-grey
  font-size: $p-size-base
  margin: 0

p
  font-size: $p-size-base
  line-height: 1.5em
/**********/

/*** GLOBAL CSS MOBILE ***/
@media screen and (max-width: 1499px)
    h1
      font-size: 2.4em
    h2
      font-size: 2.5em
      line-height: 1em
    h3
      font-size: 1.2em
      line-height: 1em
    p
      font-size: 1em
      line-height: 1.2em

@media screen and (max-width: 991px)
    h1
      font-size: 2.3em
    h2
      font-size: 2.4em
    h3
      font-size: 1.1em
    p
      font-size: 1em
      line-height: 1.2em
/**********/

/*** CSS REGISTRATION ***/
.registration
  h2
    margin: 0 0 30px 0
  .btn-default
    margin: 30px 0 0 0
  .form-actions
    float: left
.login
  a
    color: #252424
    position: relative
    top: 45px
    left: 40px
.login-2
  a
    color: #252424
    position: relative
    top: 30px
    left: 40px