/** CSS NAV GLOBAL **/

.global-large
  max-width: 1920px

.nav-marg
  padding: 130px 0 100px 0
  font-weight: 300
  color: black
  .ml-auto
    height: 50px
    li
    .nav-item-3
      border: 1px solid #ded8da
      padding: 10px 25px
      color: #a6969b
      font-size: 1rem
    a.nav-link.nav-item-1, a.nav-link.nav-item-2
      color: #252424
      font-weight: 600
      font-size: 1rem 
    a.nav-link.nav-item-1:active, a.nav-link.nav-item-1:hover
      color: #252424
      border-bottom: 5px solid $color-main
      line-height: 28px
    a.nav-link.link-2
      display: inline
      padding: 0

@media screen and (max-width: 767px)
    .nav-marg
      padding: 130px 20px 100px 20px
      a.nav-link.nav-item-1:active, .nav-marg a.nav-link.nav-item-1:hover
        color: rgba(0, 0, 0, 0.7)
        border-bottom: 0