/** CSS NAV GLOBAL **/

.global-large
  max-width: 1920px

.nav-marg
  padding: 130px 0 100px 0
  font-weight: 300
  color: black
  li
    margin-left: 20px
  a
    color: black
  a.nav-item-1:hover, a.nav-item-1:active
    border-bottom: 5px solid #C53F6E
  a.link-2
    display:inline
