.navbar
  padding: 130px 0 100px 0
  font-size: 0.9em 
  font-weight: 600
  color: black
  .nav-item
    display: block
    padding: 0.5rem 1rem
    height: 50px
    font-weight: 600
    font-weight: bold
    &:hover
      border-bottom: 5px solid $color-main
    a
      color: black
      &:hover
        color: lighten($color-main, 50)
    &.dropdown
      border-bottom: none
  .login-logout
    border: 1px solid $color-main
    padding: 10px 25px
    &:hover
      border-bottom: 1px solid $color-main
    a
      color: $color-main
      display: inline

@media screen and (min-width: 767px)
  .dropdown-menu-right
    text-align: right

@media screen and (max-width: 767px)
  .navbar
    padding: 20px 0
    .dropdown
      z-index: 100
      background: white
