/** CSS HOTES PAGE **/
.users__list
  background: $color-background
  padding: 40px 0
  .user
    background: white
    padding: 10px
    margin-bottom: 15px

.hote-city
  text-align: center
  h1
    font-size: $h1-size-base
    font-family: $font-title
    margin: 0 0 90px 0
  .style-hote
    color: $color-font-title
  p
    color: $color-main
    font-size: 1.5em
    font-weight: 500
    margin: 0 0 40px 0
  .btn-city
    margin: 0 0 100px 0
    li
      a
        color: #d5cbce
        background-color: #fff
        border: 2px solid #d5cbce
        font-weight: bold
        font-size: 1.1em
        width: 150px
        border-radius: 25px
        moz-border-radius: 25px
        webkit-border-radius: 25px
      a:hover, a:active
        color: $color-main
        border: 2px solid $color-main

.title-hote
  margin-top: 20px
  margin-bottom: 40px
  h2
    font-size: $h1-size-base
    font-family: $font-title
  .style-hote
    color: $color-font-title

.voir-plus
  margin: 20px 0
  text-align: center
  a
    background: none
    color: #d5cbce
    font-size: 1.5em
    font-weight: 500
    border: 0
  a:hover, a:active
    color: $color-main
    background: none
  .fas
    display: block
    color: #d5cbce
    font-size: 2em

.card
  padding: 50px
  .div-img-hote
    float: left
    .img-hote
      width: 100px
      border-radius: 50px
      webkit-border-radius: 50px
      moz-border-radius: 50px
  .name-hote
    h2
      padding: 5px 0 0 150px
      color: #252424
      font-size: 2.3em
      line-height: 1em
      font-family: $font-title