/** CSS PROFIL PAGE BACK **/
.profil-nav
  h1
    text-align: center
    margin: 20px 0 50px 0

.espace
  .user-city
    .espace__ps
      margin-top: 30px
      font-size: 0.8em
      color: $color-title-grey


.nav-tabs
  margin-bottom: 60px
  .nav-item
    padding: 10px 30px
    border-bottom: 5px #eee solid
    color: #999
    font-weight: 500
    text-align: center
    line-height: 1.3em
    &.active
      color: $color-main
      border-color: $color-main

.bg-user-profil
  background-color: $color-background
  padding: 80px

.user-profil
  background-color: #fff
  padding: 80px
  h2
    font-size: 2.5em
    margin: 0 0 50px 0
    text-align: center
  h3
    color: $color-main
    font-weight: 600
.col-img-user
  padding-right: 80px
.conversation
  margin: 45px 0 0 0
.new_message
  .form-control
    border-radius: 15px
    min-height: 120px
  input
    margin-top: 30px
.badge
  font-weight: 500
  border-radius: 5px
  padding: 5px 10px
  font-style: italic
  color: #464646
  background-color: #eaeaea
.badge2
  border-radius: 5px
  padding: 3px 8px
  font-style: normal
  color: #fff
  background-color: $color-main
  margin: 0 0 0 5px

.message-line, .message-line-2
  margin: 30px 0
  li
    margin: 0 0 20px 0
  a
    font-weight: 500
    color: #242525
  a:hover, a:active, a:focus
    color: $color-main
  .badge
    display: block
    width: 127px
    margin: 10px 0 20px 0
  .message
    color: $color-title-grey
    position: absolute
    font-style: italic
    font-weight: 500
    left: 103px
    top: 28px
    font-size: 1em
  time
    color: $color-title-grey
    font-style: italic
    font-weight: 500
    font-size: 1em

.message--from-someone-else, .message--from-me
  .message-from-date
    p
      color: $color-title-grey
      padding: 0 0 0 30px
      font-style: italic
      font-weight: 500
  .message-content
    padding: 30px
    border-radius: 15px
    p
      font-weight: 500

.message--from-someone-else
  width: 70%
  margin-bottom: 30px
  .message-content
    background-color: #f6f5f5

.message--from-me
  margin: 0 0 30px 30%
  .message-content
    background-color: $color-main
    text-align: left
    p
      color: #fff
    .badge
      background-color: #b77575
      color: #fff

.previous
  margin: 20px 0 0 0
  a
    font-weight: 500

.table-body
  margin: 40px 0 0 0
  text-align: center
  th
    line-height: 1.2em
    vertical-align: middle !important
  td
    vertical-align: middle
  .btn-update
    background-color: $color-font-title
    border: 0
    padding: 5px
  .btn-update:hover
    background-color: #609eb3
  .btn-red
    border: 0
    padding: 5px

/** CSS PROFIL PAGE FRONT **/
.user-profil-front
  padding: 20px 20px 80px 20px
  .col-img-user
  padding-right: 80px
  .col-name, .col-city
    p
      color: $color-main
      font-weight: 500
  .col-desc-profil-front
    ul
      margin: 30px 0 50px 0
      padding: 0
      li
        list-style: none
        display: inline
        color: #d5cbce
        background-color: #fff
        border: 2px solid #d5cbce
        font-weight: bold
        padding: 10px 40px
        margin: 0 15px 0 0 
        border-radius: 25px
  .published-reviews
    ul
      li
        border: 0 !important
        padding: 0 !important
      .profil-reviews
        margin-bottom: 5px
      p
        font-weight: 300
        color: #242525
      .date-reviews
        color: #a1a0a0
        font-style: italic
        font-size: 0.8em
        font-weight: 300
  #map
    width: 100%
    height: 200px
    margin-bottom: 20px

@media screen and (max-width: 1023px)
    .user-profil
      padding: 80px
    .col-img-user
      padding-right: 40px
    .user-profil-front
      padding: 20px 20px 80px 20px
      .col-img-user
      padding-right: 40px

@media screen and (max-width: 991px) 
    .message--from-someone-else
      width: 100%
      margin-top: 30px   
    .message--from-me
      margin: 0 0 30px 0 

@media screen and (max-width: 767px)
    .bg-user-profil
      padding: 50px

    .user-profil
      padding: 50px
      .date, .badge
        text-align: right

@media screen and (max-width: 539px)
    .bg-user-profil
      padding: 30px
    .user-profil
      padding: 30px
      .date, .badge
        text-align: right
