/** CSS HOTES PAGE **/
.users__list
  background: $color-background
  padding: 40px 0
  .user
    background: white
    padding: 10px
    margin-bottom: 15px

.hote-city
  text-align: center
  h1
    font-size: $h1-size-base
    font-family: $font-title
    margin: 0 0 90px 0
  .style-hote
    color: $color-font-title
  p
    color: $color-main
    font-size: 1.5em
    font-weight: 500
    margin: 0 0 40px 0
  .btn-city
    margin: 0 0 100px 0
    li
      a
        color: #d5cbce
        background-color: #fff
        border: 2px solid #d5cbce
        font-weight: bold
        font-size: 1.1em
        width: 150px
        border-radius: 25px
        moz-border-radius: 25px
        webkit-border-radius: 25px
      a:hover, a:active
        color: $color-main
        border: 2px solid $color-main

.title-hote
  margin-top: 20px
  margin-bottom: 40px
  h2
    font-size: $h1-size-base
    font-family: $font-title
  .style-hote
    color: $color-font-title

.voir-plus
  margin: 20px 0
  text-align: center
  a
    background: none
    color: #d5cbce
    font-size: 1.5em
    font-weight: 500
    border: 0
  a:hover, a:active
    color: $color-main
    background: none
  .fas
    display: block
    color: #d5cbce
    font-size: 2em

.card-hote
  a:hover, a:active, a:focus
    text-decoration: none
  .card
    padding: 50px
    border: 0
    min-height: 700px
    .row
      .div-img-hote
        padding: 0 10px 0 15px
        .img-hote
          width: 100%
          max-width: 100px
          border-radius: 50px
          webkit-border-radius: 50px
          moz-border-radius: 50px
      .name-hote
        h2
          padding: 5px 0 0 0
          color: #252424
          font-size: 2.2em
          line-height: 1em
          font-family: $font-title
        p
          color: $color-main
          font-size: $p-size-base
          font-weight: 500
      .fa-user-circle
        position: absolute
        right: 0
        top: 0
        padding: 7px
        background-color: $color-main
        font-size: 1.3em
        color: #fff
    .card-body
      padding: 45px 0 0 0
      p
        color: #a1a0a0
        font-style: italic
        font-size: $p-size-base
        font-weight: 500
      .style-txt-hote
        color: #252424
        font-style: normal
        font-weight: bold
      .desc-hote
        font-weight: 500
        line-height: 1.4em
        font-style: normal
        color: #0e0d0e
      .btn-hote
        text-align: center
        margin: 40px 0 0 0
        a.btn-contact-hote
          border: 1px solid $color-main
          background-color: #fff
          color: $color-main
          border-radius: 0
          font-weight: bold
          font-size: 1em
          padding: 10px 60px
        a.btn-contact-hote:hover, a.btn-contact-hote:active, a.btn-contact-hote:focus
          border: 1px solid #a6969b
          color: #a6969b
